<div id="modal" class="point">
  <div class="content">
    <img src="/assets/erro.svg" alt="">
    <h1>Erro ao cadastrar ponto de coleta!</h1>
  </div>
</div>

<script>
  setTimeout(() => {
    window.location = "/"  
}, 2000)
</script>