<div id="modal" class="point active">
  <div class="content">
    <img src="/assets/erro.svg" alt="" id="error">
    <h1>Erro ao cadastrar ponto de coleta.</h1>
    <h1>Tente novamente!</h1>
  </div>
</div>

<script>
  setTimeout(() => {
    const closeModal = document.querySelector('#modal')
    closeModal.classList.remove('active')
}, 2000)
</script>